{% extends 'base.html.twig' %}

{% block title %}Skills4All Home{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Skills4All</h1>
    <div class="manage text-center mt-4 mb-2">
        <a class="btn btn-primary" href="{{ path('app_car_index') }}">Manage cars</a>
        <a class="btn btn-success" href="{{ path('app_category_index') }}">Manage categories</a>
        {% include 'includes/_weather.html.twig' %}
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {%  include 'includes/_form_search.html.twig'  with {form:form} only %}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for car in cars %}
                        <div class="card mt-4 mb-4 me-1 col-3">
                            <!--<img src="{#  #}{ produit.mainPicture }}" alt="Text alt" class="img-fluid">-->
                            <div class="card-body">
                                <h4 class="card-title">{{ car.name }}</h4>
                                <a href="#" class="btn btn-primary btn-sm">Détail</a>
                                <p class="card-text">{{  car.cost}} €</p>
                                <span class="badge bg-info badge-info" >{{ car.category.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Pagination-->
        <div class="paginator mt-4">
            {{ knp_pagination_render(cars) }}
        </div>
{% endblock %}
