{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NbSeats</th>
                <th>NbDoors</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.nbSeats }}</td>
                <td>{{ car.nbDoors }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.cost }}</td>
                <td>{{ car.slug }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}"><i data-feather="book"></i></a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}"><i data-feather="edit"></i></a>
                    <a href="{{ path('app_car_delete', {'id': car.id}) }}"><i data-feather="trash-2"></i>></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
