{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NbSeats</th>
                <th>NbDoors</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.nbSeats }}</td>
                <td>{{ car.nbDoors }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.cost }}</td>
                <td>{{ car.slug }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}" class="text-primary">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="text-warning">edit</a>
                    <a href="{{ path('app_car_delete', {'id': car.id}) }}" class="text-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="paginator mt-4">
        {{ knp_pagination_render(cars) }}
    </div>

    <a href="{{ path('app_car_new') }}">Create new</a>
    <a href="{{ path('app_home') }}">Return</a>


{% endblock %}
